body {
  text-align: center;
  font-family: 'Italianno', cursive;
}

#submit {
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  font-family: cursive;
}

p {
  font-size: 18px;
  color: purple;
}

#pass{
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-family: cursive;
    }
    
#result{
    font-size: 30px;
    color: green;
    }
    
#hint{
    color:#4dffff;
    font-size: 30px;
}